<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	
	
	<title>Document</title>
</head>
<body>
	<!-- 页面尾部 -->
<div class="footer" th:fragment="footer">
		<div class="page-con-footer"></div>
		<div class="page-footer">
			<div class="container">
				<div class="bt-fl pull-left">
					<ul class="links">
						<li>
							<a href="#">关于我们</a>
						</li>
						<li>|</li>
						<li>
							<a href="#">招聘信息</a>
						</li>
						<li>|</li>
						<li>
							<a href="#">联系我们</a>
						</li>
						<li>|</li>
						<li>
							<a href="#">商务合作</a>
						</li>
						<li>|</li>
						<li>
							<a href="#">vip服务</a>
						</li>
					</ul>
					<p class="copyright">Copyright&nbsp;&copy;&nbsp;&nbsp;2018-2019&nbsp;100分勤学网&nbsp;&nbsp;版权所有</p>
				</div>
				<div class="bt-fr pull-right">
				</div>
				<div class="bt-line"></div>
			</div>
		</div>
	</div>
</body>
</html>
