<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>100分勤学网---关于我们</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="../js/u-jquery-1.12.3.js"></script>
    <script type="text/javascript" src="../js/u-bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/u-bootstrap.min.css">
    <script type="text/javascript" src="../js/public.js"></script>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/aboutUS.css">
</head>

<body>
    <div id="page">
        <!-- 头部 -->
        <div class="headerpage" th:replace="commons/header::page2-header"></div>
        <div class="w">
            <!-- 中间部分 -->
            <div class="introduction">
                <div class="theme">
                    <img src="../images/关于我们.jpg" />
                </div>
                <div class="intro-detail">
                    <h3>一、理论基础</h3>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽然大量公开免费线上教学课程是2000年之后才发展出来的概念，其理论基础深植于资讯时代之前。最远可追溯至1960年代。1961年4月22日巴克敏斯特．富勒针对教育科技的工业化规模发表了一个演讲。1962年，美国发明家道格拉斯‧恩格尔巴特向史丹福研究中心提出一个研究“扩大人类智力之概念纲领”，并在其中强调使用电脑辅助学习的可能性。在此计划书里，恩格尔巴特提倡电脑个人化、并解释使用个人电脑搭配电脑间的网络为何将造成巨大、扩及世界规模的交换资讯潮。
                    </p>
                    <h3>二、课程特征</h3>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、工具资源多元化：MOOC课程整合多种社交网络工具和多种形式的数字化资源，形成多元化的学习工具和丰富的课程资源。
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、课程易于使用：突破传统课程时间、空间的限制，依托互联网世界各地的学习者在家即可学到国内外著名高校课程。
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、课程受众面广：突破传统课程人数限制，能够满足大规模课程学习者学习。
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、课程参与自主性：100分勤学网课程具有较高的入学率，同时也具有较高的辍学率，这就需要学习者具有较强的自主学习能力才能按时完成课程学习内容。
                    </p>
                    <div class="bottom-img">
                        <img src="../images/关于我们2.png" />
                    </div>

                </div>
                <div class="advantage">
                    <div class="ad-tit">
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                        <span>我们的优势</span>
                    </div>
                    <ul>
                        <li>
                            <img src="../images/adv1.png" />
                        </li>
                        <li>
                            <img src="../images/adv1.png" />
                        </li>
                        <li>
                            <img src="../images/adv1.png" />
                        </li>
                        <li>
                            <img src="../images/adv1.png" />
                        </li>
                        <li>
                            <img src="../images/adv1.png" />
                        </li>
                        <li>
                            <img src="../images/adv1.png" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 尾部 -->
        <div class="footerpage" th:replace="commons/footer::footer"></div>
    </div>

</body>

</html>