<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.bigData.mapper.OnlineVoMapper">
<select id="selectOnlineByHour" resultType="com.pxxy.bigData.bean.OnlineVo">
	select DATE_FORMAT(loginTime,'%Y%m%d %H') hour,count(*) count 
	from t_flowmeter group by hour;
</select>

<select id="selectOnlineByDaily" resultType="com.pxxy.bigData.bean.OnlineVo">
	select DATE_FORMAT(loginTime,'%Y%m%d') day,count(*) count 
	from t_flowmeter group by day;
</select>
<select id="selectOnlineByWeek" resultType="com.pxxy.bigData.bean.OnlineVo">
	select DATE_FORMAT(loginTime,'%Y%u') week,count(*) count 
	from t_flowmeter group by week;
</select>
<select id="selectOnlineByMonth" resultType="com.pxxy.bigData.bean.OnlineVo">
	select DATE_FORMAT(loginTime,'%Y%m') month,count(*) count 
	from t_flowmeter group by month;
</select>
	
</mapper>