<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.bigData.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.pxxy.bigData.bean.Video">
    <id column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_code" jdbcType="INTEGER" property="videoCode" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    video_id, video_code, video_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_video
    where video_id = #{videoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_video
    where video_id = #{videoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pxxy.bigData.bean.Video">
    insert into t_video (video_id, video_code, video_url
      )
    values (#{videoId,jdbcType=INTEGER}, #{videoCode,jdbcType=INTEGER}, #{videoUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pxxy.bigData.bean.Video">
    insert into t_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videoId != null">
        video_id,
      </if>
      <if test="videoCode != null">
        video_code,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="videoCode != null">
        #{videoCode,jdbcType=INTEGER},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pxxy.bigData.bean.Video">
    update t_video
    <set>
      <if test="videoCode != null">
        video_code = #{videoCode,jdbcType=INTEGER},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pxxy.bigData.bean.Video">
    update t_video
    set video_code = #{videoCode,jdbcType=INTEGER},
      video_url = #{videoUrl,jdbcType=VARCHAR}
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
</mapper>